body {background: #f0f0f0;
	.main {width: 100%; max-width: 920px; margin: 0 auto; background: #fff; box-shadow: 0 0 10px #aaa;
		.cartarea {overflow: auto; 
					margin:0 auto; 
					padding: 0; 
					height: auto; 
					width: 100%; 
				
		.item-box {float: left; width: 18.5%; margin-left: 1%;    
			.button-img {cursor: pointer; width: 100%; margin-bottom: 5%; margin-top: 5%;
				&:hover {opacity: 0.8;}
			}
			.button_amazon {cursor: pointer; width: 100%; margin-bottom: 5%;
				&:hover {opacity: 0.8;}
			}
			
				
				}
			ul li:first-child {
				 .item-box {margin-left: 2%;}
				 }
			
			}

		.footer {text-align: center;
			.link {color: #333; font-size: 12px; padding: 30px 0 0;}
			.copy {color: #666; font-size: 10px; padding: 10px 0 30px; line-height: 1.2em;}
		}
	}
}
