  <h2 id="categoryimg">自社製造だからこその「信頼」をお届けします</h2>

		<h3>伊藤清商店の羽毛布団は<span style="font-size: 1.3em">3</span>年間保証</h3>
	
<p>通常使用で万一商品に不具合がありましたら、<em>3年以内</em>であれば無償で補修等いたします。</p>
<p><img src="<!--{$TPL_URLPATH}-->img/itokiyoshi/guarantee.jpg" alt=""  /></p>

<p>補修や気になる点がありましたら、<em><a href="tel:0525225206">052-522-5206</a></em>までお電話ください。<br />
（平日AM10：00〜PM5：00）</p>
  
<h4>【ご注意】</h4>
<ul>下記の場合は、保証期間内であっても無償保証はいたしかねますので、ご注意ください。
<li>■誤った取り扱いによる損傷</li>
<li>■不当な修理をされたり改造された場合の損傷</li>
<li>■火災などの天災地変による損傷</li>
<li>■転居などの輸送によって生じた損害</li>
<li>■保証書に取扱い販売店の捺印のない場合</li>
<li>■保証書の紛失及び保証書の提示の無い場合。</li>
<li>また、遠隔地からの修理につきましては往復の配送料を頂きます。</li>
</ul>


