<!--{*
 * ResponsiveL0084
 * Copyright (C) 2013 LOCKON CO.,LTD. All Rights Reserved.
 * http://www.lockon.co.jp/
 *}-->

<div class="block_outer">
    <div id="category_area">
        <div class="bloc_body">
            <h2 class="heading01">商品カテゴリー</h2>
<ul id="categorytree">
                <!--{include file="`$smarty.const.TEMPLATE_REALDIR`frontparts/bloc/category_tree_fork.tpl" children=$arrTree treeID="" display=1}-->
            </ul>
        </div>
    </div>
</div>


<div id="amazon-login">
<div id="amazon-login-header"><img src="/user_data/packages/plg_responsivel0084/img/amazon/amazon-pay-logo.png" alt="アマゾンペイメント対応店" /></div>
<div id="amazon-bottom">
<p id="amazon-text">当店はAmazonのIDでお買い物できます！</p>
<div><a href="http://www.itokiyoshi.com/user_data/amazon.php"><img src="/user_data/packages/plg_responsivel0084/img/amazon/amazon-how.png" alt="アマゾンペイメントとは？" /></a> </div></div></div>




