<!--{*


 * This file is part of EC-CUBE
 *
 * Copyright(c) 2000-2007 LOCKON CO.,LTD. All Rights Reserved.
 *
 * http://www.lockon.co.jp/
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
 *}-->
<!--{if count($arrRssFeedBlock) > 0}-->
<div class="block_outer clearfix">
<div id="plugin_rssfeed">
<h2>新着記事</h2>

<div class="block_body cf">

<ul><!--{foreach from=$arrRssFeedBlock item=item}-->
<li class="heightLine post_item">

		<!--<div class="postdate">2014.12.15</div>-->

<div class="posttitle">

		<a href='<!--{$item->link}-->' target='_blank'><!--{$item->title|h}--></a></div>

		<div class="postdiscription">

		<!--{$item->description}-->

		</div>

	</li><!--{/foreach}-->
    <ul>
    
    
    
    





<dt><!--{$item->pubDate|date_format:"%G.%m.%d"}--></dt>
<dd></a></dd>






<!--{/if}-->