<!--{*
 * ResponsiveL0084
 * Copyright (C) 2013 LOCKON CO.,LTD. All Rights Reserved.
 * http://www.lockon.co.jp/
 *}-->
<script type="text/javascript">
	$(window).load(function() {
	  $('.main_visual .flexslider').flexslider({
		pauseOnAction: false,
		animationLoop: false
	  });
	});
</script>

<div class="main_visual">
    <div class="flexslider">
        <ul class="slides">
       <!-- <li><a href="http://itokiyoshi.com/products/list.php?category_id=27"><img src="<!--{$TPL_URLPATH}-->img/top-img01.jpg"></a></li>-->
            <li><a href="http://itokiyoshi.com/products/list.php?category_id=27"><img src="<!--{$TPL_URLPATH}-->img/image1.jpg"></a></li>
           <li><a href="http://itokiyoshi.com/products/list.php?category_id=27"><img src="<!--{$TPL_URLPATH}-->img/image2.jpg"></a></li>
            <li><a href="http://itokiyoshi.com/products/list.php?category_id=27"><img src="<!--{$TPL_URLPATH}-->img/image3.jpg"></a></li>
            <li><a href="http://itokiyoshi.com/contents/?page_id=2"><img src="<!--{$TPL_URLPATH}-->img/top-img05-n.jpg"></a></li>
          
        </ul>
    </div>
</div>
