<!--{*
 * ResponsiveL0084
 * Copyright (C) 2013 LOCKON CO.,LTD. All Rights Reserved.
 * http://www.lockon.co.jp/
 *}-->
<div id="bnr_area" class="pc">
    <p><a href="#"><img src="<!--{$TPL_URLPATH}-->img/bnr_dummy06.jpg"></a></p>
    <p><a href="#"><img src="<!--{$TPL_URLPATH}-->img/bnr_dummy07.jpg"></a></p>
    <p><a href="#"><img src="<!--{$TPL_URLPATH}-->img/bnr_dummy06.jpg"></a></p>
</div>
