<!--{*
 * ResponsiveL0084
 * Copyright (C) 2013 LOCKON CO.,LTD. All Rights Reserved.
 * http://www.lockon.co.jp/
 *}-->
<div class="block_outer">
    <div id="guide_area" class="bloc_body">
        <ul class="button06">
            <li><a href="<!--{$smarty.const.ROOT_URLPATH}-->guide/plg_ResponsiveL0084_guide.php" class="">お買い物ガイド</a></li>
            <li><a href="<!--{$smarty.const.HTTPS_URL}-->contact/<!--{$smarty.const.DIR_INDEX_PATH}-->" class="">お問い合わせ</a></li>
        </ul>
    </div>
</div>
