/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden; text-align: center} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {position: relative; zoom: 1;}
.flexslider img {width: 100%;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav a {width: 30px; height: 30px; margin: -52px 0 0; display: block; background: url(images/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px; opacity: .6; -webkit-transition: all .3s ease; z-index:2;}
.flex-direction-nav .flex-prev {width: 30px; height: 30px; margin: -52px 0 0; display: block; background: url(images/bg_direction_nav.png) no-repeat 0 0; position: absolute; cursor: pointer; text-indent: -9999px; opacity: .6; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: 100% 0; }
.flexslider .flex-next {right: 5px;}
.flexslider .flex-prev {left: 5px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: .8;}
.flex-direction-nav .disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 10px; height: 10px; display: block; background: #CBC5C0; cursor: pointer; opacity: 0.8;font-size:0;}
.flex-control-paging li a:hover { opacity: 1;}
.flex-control-paging li a.flex-active {  background: #5E4637; opacity: 1;cursor: default; }

.flex-control-thumbs {margin: 10px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 20%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; opacity: 1; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: .8;}
.flex-control-thumbs .active {opacity: 1; cursor: default;}

@media screen and (max-width: 460px) {
	.flex-direction-nav a {width: 20px; height: 20px;}
	.flex-direction-nav .flex-prev {width: 20px; height: 20px;background-size: 40px 20px;opacity: .6; margin: -10px 0 0;}
	.flex-direction-nav .flex-next {width: 20px; height: 20px;background-size: 40px 20px;opacity: .6; margin: -10px 0 0;}
}
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {left: 5px;}
  .flex-direction-nav .flex-next {right: 5px;}
}

