/*
* AmazonPayments
* Copyright(c) 2015 IPLOGIC CO.,LTD. All Rights Reserved.
*
* http://www.iplogic.co.jp/
*
* This program is not free software.
* It applies to terms of service.
*
*/

@charset "UTF-8";
#main_column.colnum1 {
	width:auto;
	margin:0px 15px;
}

#one_maincolumn {
	width:auto;
	margin:0px 15px;
}

#amazon_left {
	float:left;
	width:690px;
	display:inline;
}

#amazon_left #amazon_info {
	margin-bottom:30px;
	overflow:hidden;
}

#amazon_left #amazon_address {
	float:left;
	width:335px;
	margin-right:10px;
}

#amazon_left #amazon_payment {
	float:right;
	width:335px;
	margin-right:10px;
}

#amazon_right {
	float:right;
	margin-left:10px;
	width:250px;
	/*display:inline;*/
}

#amazon_right p {
	/*margin:0;*/
	padding:0;
	font-size:20px;
}

#amazon_right table {
	border-spacing: 70px;
	border-style:none;
}


#amazon_right table#confirm_price_amazon td{
	width: 250px;
	font-size: 16px;
	padding:0;
	border-style:none;
}

#amazon_right table#confirm_price_amazon td.price_amazon{
	text-align:right;
}

#amazon_right table#confirm_price_amazon td.totalprice_amazon{
	padding-top:5px;
	font-size:20px;
	color:#800019;
	border-top:1px solid #dddddd;
}

#amazon_right table#confirm_price_amazon td.totalprice2_amazon{
	padding-top:5px;
	font-size:20px;
	color:#800019;
	border-top:1px solid #dddddd;
	text-align:right;
}

#amazon_right table#confirm_point_amazon td{
	padding:0;
	border-style:none;
}

#amazon_right table#confirm_point_amazon td.point_amazon{
	text-align:right;
}

#amazon_right table#customer_regist td{
	padding:5px;
	border-style:none;
}

.amazon_buy_button{
	-moz-box-shadow:inset 0px 1px 0px 0px #f9eacf;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f9eacf;
	box-shadow:inset 0px 1px 0px 0px #f9eacf;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #F6DD9F), color-stop(1, #F0C24D) );
	background:-moz-linear-gradient( center top, #F6DD9F 5%, #F0C24D 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=’#F6DD9F’, endColorstr=’#F0C24D’);
	background-color:#f5d78a;
	-webkit-border-top-left-radius:3px;
	-moz-border-radius-topleft:3px;
	border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius-topright:3px;
	border-top-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	-moz-border-radius-bottomright:3px;
	border-bottom-right-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	border-bottom-left-radius:3px;
	text-indent:0px;
	border:1px solid #cbaa5c;
	display:inline-block;
	color:#111111;
	font-size:14px;
	font-weight:normal;
	font-style:Arial,sans-serif;
	line-height:29px;
	width:180px;
	height:30px;
	text-decoration:none;
	text-align:center;
	cursor:pointer;
	padding:0 10px 0 11px;
	margin-top:0;
}

.amazon_buy_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #F5D589), color-stop(1, #EEBA35) );
	background:-moz-linear-gradient( center top, #F5D589 5%, #EEBA35 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=’#F5D589′, endColorstr=’#EEBA35′);
	background-color:#eeba35;
}


/* アマゾン決済用
========================================*/
#undercolumn .inner.-amazon {
  padding: 0;
  overflow: hidden;
}
.inner.-amazon .title.-mincho {
  margin: 0;
}

.formBox.-mb35 {
  margin-bottom: 35px;
}

.amazon-wrap {
  padding-top: 50px;
  font-size: 1.6rem;
  font-size: 16px;
  overflow: hidden;
}

.amazon-inner {
  width: 100%;
  overflow: hidden;
}
.amazon-content {
  width: 100%;
}
.amazon-detail {
  width: 100%;
}
#undercolumn h2.amazon-inner_title {
  width: 100% !important;
  margin-bottom: 20px !important;
  padding: 10px 2px;
  border-bottom: 1px solid #ccc;
  font-size: 1.8rem !important;
  font-size: 18px !important;
  font-weight: bold;
}
.amazon-inner_table {
  margin-bottom: 35px;
  border: 1px solid #ddd8d5;
  border-collapse: collapse;
}
.amazon-inner_table.-detail {
  width: 100%;
  margin-bottom: 0;
  border: none
}

.amazon-inner_table th {
  padding: 15px 0;
  border: 1px solid #ddd8d5;
  background: #f4f3f0;
}
.amazon-inner_table.-detail th {
  padding: 0;
  border: none;
  background: none;
}
.amazon-inner_table td {
  padding: 15px;
  border: 1px solid #ddd8d5;
  vertical-align: middle;
}
.amazon-inner_table.-detail td {
  padding: 10px 0;
  border: none;
  text-align: right;
  background: none;
}

.amazon-inner_table.-detail .amazon-inner_table_td {
  width: 120px;
  text-align: left;
}

.amazon-inner_table.-detail tr:last-child {
  border-top: 1px solid #000;
  font-weight: bold;
}

.amazon-inner_table-center {
  text-align: center;
}

.amazon-inner_txt {
  margin-bottom: 20px;
}

#amazon_info {
  margin-bottom: 35px;
  overflow: hidden;
}
#amazon_info iframe {
  width: 100%;
}

#amazon_address {
  width: 100%;
  margin-bottom: 35px;
}
#amazon_payment {
  width: 100%;
}

.amazon-inner_box {
  width: 100%;
  border: 1px solid #ddd8d5;
  border-collapse: collapse;
  font-size: 14px;
}
.amazon-inner_box.-margin {
  margin: 35px 0 20px;
}
.amazon-inner_box td {
  padding: 10px;
  vertical-align: middle;
}
.amazon-inner_box_title {
  border: 1px solid #ddd8d5;
}

.widget-container {
  width: 100% !important;
}

.amazon-day, .amazon-time {
  display: inline-block;
  width: 100%;
}
.amazon-day select, .amazon-time select {
  width: 100%;
  margin-top: 5px;
}

.pay_area, .pay_area02 {
  margin-bottom: 35px;
}

.amazon-inner_txtarea {
  width: 100%;
  font-family: inherit;
}
.amazon-inner .attention {
  font-size: 12px;
}
.amazon-inner .btn_area {
  padding: 0;
}

.amazon-inner-content_detail {
  overflow: hidden;
}

.amazon-btn_area {
  margin-top: 35px;
}
.amazon-btn_area_list {
  overflow: hidden;
}
.amazon-btn_area_list.-last {
  display: table;
  width: 100%;
}

.amazon-btn_area_item {
  text-align: center;
}
.amazon-btn_area_list.-last .amazon-btn_area_item {
  width: 100%;
}
.amazon-btn_area_list.-last .amazon-btn_area_item.-last {
  width: 100%;
  margin-bottom: 15px;
}

.amazon-btn_area_item .amazon_buy_button {
  width: 100%;
  height: auto;
  padding: 1em 0;
  line-height: 1;
  font-size: 1.6rem;
  font-size: 16px;
  font-family: inherit;
  font-weight: bold;
}
.amazon-btn_area_list.-last .button03 a {
  padding: 1em 0;
}
.is-pc {
	display: none;
}

li.amazon-btn_area_item.button02{
background: -webkit-gradient(linear, left top, left bottom, color-stop(0.99, #f4bc2f), color-stop(0.00, #f7e1ab));
background: -webkit-linear-gradient(top, #f7e1ab 0%, #f4bc2f 99%);
background: -moz-linear-gradient(top, #f7e1ab 0%, #f4bc2f 99%);
background: -o-linear-gradient(top, #f7e1ab 0%, #f4bc2f 99%);
background: -ms-linear-gradient(top, #f7e1ab 0%, #f4bc2f 99%);
background: linear-gradient(to bottom, #f7e1ab 0%, #f4bc2f 99%);
border-style:solid;
border-color: #f4bc2f;
border-width: 1px;
}

li.amazon-btn_area_item.button02:hover{
	opacity:0.8;
	}
li.amazon-btn_area_item.button02 button span {
	background: none;
	padding:0;
	color:#000000;
	
}


/* ブレークポイント
==========================================================================*/
@media (min-width: 768px) {

/* アマゾン決済用
========================================*/
#wrapper {width:1048px;}
.is-pc {
	display: block;
}

#undercolumn .inner.-amazon {
  padding: 0;
  overflow: hidden;
}
.inner.-amazon .title.-mincho {
  margin: 0;
}

.amazon-wrap {
  padding-top: 50px;
  font-size: 1.6rem;
  font-size: 16px;
  overflow: hidden;
}

.amazon-inner {
  width: 100%;
  overflow: hidden;
}
.amazon-content {
  float: left;
  width: 650px;
}
.amazon-detail {
  float: right;
  width: 300px;
}
#undercolumn h2.amazon-inner_title {
  width: 100% !important;
  margin-bottom: 20px !important;
  padding: 10px 2px;
  border-bottom: 1px solid #ccc;
  font-size: 1.8rem !important;
  font-size: 18px !important;
  font-weight: bold;
}
.amazon-inner_table {
  margin-bottom: 35px;
  border: 1px solid #ddd8d5;
  border-collapse: collapse;
}
.amazon-inner_table.-detail {
  width: 100%;
  margin-bottom: 0;
  border: none
}

.amazon-inner_table th {
  padding: 15px 0;
  border: 1px solid #ddd8d5;
  background: #f4f3f0;
}
.amazon-inner_table.-detail th {
  padding: 0;
  border: none;
  background: none;
}
.amazon-inner_table td {
  padding: 15px;
  border: 1px solid #ddd8d5;
  vertical-align: middle;
}
.amazon-inner_table.-detail td {
  padding: 10px 0;
  border: none;
  text-align: right;
  background: none;
}

.amazon-inner_table.-detail .amazon-inner_table_td {
  width: 120px;
  text-align: left;
}

.amazon-inner_table.-detail tr:last-child {
  border-top: 1px solid #000;
  font-weight: bold;
}

.amazon-inner_table-center {
  text-align: center;
}

.amazon-inner_txt {
  margin-bottom: 20px;
}

#amazon_info {
  margin-bottom: 35px;
  overflow: hidden;
}
#amazon_info iframe {
  width: 100%;
}

#amazon_address {
  float: left;
  width: 315px;
  margin-bottom: 0;
}
#amazon_payment {
  float: right;
  width: 315px;
}

.amazon-inner_box {
  width: 100%;
  border: 1px solid #ddd8d5;
  border-collapse: collapse;
  font-size: 14px;
}
.amazon-inner_box.-margin {
  margin: 35px 0 20px;
}
.amazon-inner_box td {
  padding: 10px;
  vertical-align: middle;
}
.amazon-inner_box_title {
  border: 1px solid #ddd8d5;
}

.widget-container {
  width: 315px !important;
}

.amazon-day, .amazon-time {
  display: inline;
  width: auto;
}
.amazon-day select, .amazon-time select {
  width: auto;
  margin-top: 0;
}

.pay_area, .pay_area02 {
  margin-bottom: 35px;
}

.amazon-inner_txtarea {
  width: 100%;
  font-family: inherit;
}
.amazon-inner .attention {
  font-size: 12px;
}
.amazon-inner .btn_area {
  padding: 0;
}

.amazon-inner-content_detail {
  overflow: hidden;
}

.amazon-btn_area {
  margin-top: 35px;
}
.amazon-btn_area_list {
  overflow: hidden;
}
.amazon-btn_area_list.-last {
  width: 800px;
  margin: 0 auto;
}

.amazon-btn_area_item {
  text-align: center;
}
.amazon-btn_area_list.-last .amazon-btn_area_item {
  float: left;
  width: 350px;
}
.amazon-btn_area_list.-last .amazon-btn_area_item.-last {
  float: right;
  width: 350px;
  margin-bottom: 0;
}

.amazon-btn_area_item .amazon_buy_button {
  width: 100%;
  height: auto;
  padding: 1.2em 0;
  line-height: 1;
  font-size: 1.6rem;
  font-size: 16px;
  font-family: inherit;
  font-weight: bold;
}
}


/* ブレークポイント
==========================================================================*/
@media (min-width: 1048px) {
	
		#wrapper {width: 100%;}
	
}